/target
.idea/
/node_modules
dependency-reduced-pom.xml
*.iml
.log
/src/main/resources/static/built
.classpath
.factorypath
.project
.settings/


target/classes/com/JavaIdea4/UTunes/UTunesApplication.class 
target/classes/com/JavaIdea4/UTunes/SecurityConfiguration.class
