<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="icon" href="https://icons.iconarchive.com/icons/webalys/kameleon.pics/512/Record-Player-icon.png" sizes="any">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body>
    <p class="title">Sign Up</p>

    <form class="signup-form" action="#" th:action="@{/users}" th:object="${user}" method="post" enctype="multipart/form-data">
        <p><input class="signup-fields" type="text" th:field="*{username}" placeholder="Username" required /></p>
        <p><input class="signup-fields" type="password" th:field="*{password}" placeholder="Password" required /></p>
        <input class="submit" type="submit" value="Submit" id="submit" />
        <input class="reset" type="reset" value="Reset" />
    </form>
</body>

</html>