<!DOCTYPE html>
<head lang="en">
  <meta charset="UTF-8" />
  <title>uTunes</title>
  <link rel="icon" href="https://icons.iconarchive.com/icons/webalys/kameleon.pics/512/Record-Player-icon.png" sizes="any">
  <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="search-navbar">
    <ul>
      <li>
        <a class="navbar-brand">uTunes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav-search"href="/tunes">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav-songs" href="/add/tunes"><span class="glyphicon glyphicon-log-out"></span> Add a song</a>
      </li>
      <li class="nav-item">
        <a id="nav-link" href="#popup1"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
          <div id="popup1" class="overlay">
            <div class="popup">
              <h2>Are you sure you want to log out?</h2>
              <a class="close" href="/logout">Yes</a><br /><br />
              <a class="close" href="#">No</a>
            </div>
          </div>
      </li>
    </ul>
  </nav>

<body class="faves-body">
    <h1 class="faves-header">My Favourite Tunes</h1>

    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-b526fbc5-0965-452f-8696-dcd7f8bc3097"></div>

    <!--favourites listed here-->
    
      <th:block th:each="tune : ${tunes}">
        <ul>
          <h3><a class="tune-text" th:text="${tune.getArtistname()}"></h3>
          <h4><a id="trackname" class="tune-text" th:text="${tune.getTrackname()}" th:href="${tune.getLink()}" target="_blank"></h4>
        </ul>
     </th:block>
</body>
</html>