<!DOCTYPE html>
<head lang="en">
  <meta charset="UTF-8" />
  <title>uTunes</title>
  <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<form class="selectgenre" action ="#" th:action="@{/search}" th:object="${tune}" method="post" enctype="multipart/form-data">
  <fieldset>
     <legend>Select a genre:</legend>
     <select
        name=genre
        id=select
        autocomplete=off
        required
        >
        <option value="contemporaryjazz">Contemporary Jazz</option>
        <option value="doowop">Doo Wop</option>
        <option value="hiphop">Hip Hop</option>
        <option value="rnb">R&B</option>
        <option value="rock">Rock</option>
     </select>
     <input type="submit" value="Submit" />
  </fieldset>
 </form>
</html>


  <!-- Posts feed -->
  <th:block th:each="tune: ${tunes}">
    <div class="container tunes-trackname">
        <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="card mx-auto d-flex justify-content-center">
                <div class="card-body">
                  <!-- Content -->
                  <div class="tune-body">
                    <p class="tune-text" th:text="${tunes}" >
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </th:block>