@import url('https://fonts.googleapis.com/css?family=Audiowide');

/* everything */
* {
  font-family: Audiowide;
}

/* body */
body {
  background-image: url("../images/utunes-background.jpg") !important; 
  background-color: rgba(0, 0, 0, 0.45);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: rgba(209, 131, 21, 0.7);
}
/* image download url: https://unsplash.com/photos/KA1WM_yQGF8 */

/* navbar */
.navbar {
  padding: 0.15rem;
  margin: 0;
  text-align: center;
}

/* all navbar text */
.navbar li {
  display: inline;
  padding-left:20px;
  padding-right:20px;
}

/* all navbar text continued... */
.navbar a {
  text-decoration: none;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 0.5rem;
  display: inline-block;
  color: rgba(209, 131, 21, 0.7);
}

/* uTunes text size */
.navbar-brand, .title {
  font-size: 30px;
}

/* non-uTunes navbar text */
.nav-item {
  font-size: 15px;
}

/* genre picker - entire form */
.selectgenre, .signup-form, .title {
  padding: 0.5rem;
  padding-right: 7rem;
  color: rgba(209, 131, 21, 0.7);
  text-align: center;
  margin-bottom: 0.5rem;
}

/* dropdown menu / signup inputs */
.dropdown, .signup-fields, .sign-in-fields {
  padding: 0.5rem;
  color: rgba(209, 131, 21, 1);
  text-align: left;
  margin-bottom: 0.5rem;
  background-color: rgba(174, 109, 18, 0.4);
  border-color: rgba(55, 55, 55, 0.5);
  border-width: 2px;
  opacity: 0.7;
}

.form-actions {
  margin-top: 0.8rem;
}

/* spacing between sign-in-fields and "You have been logged out" */
.agileits-top {
  margin-top: 0.8rem;
}

/* Placeholder colour - Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder {
  text-indent: 1em;
  color: rgba(209, 131, 21, 0.9);
}
/* Placeholder colour - Internet Explorer 10-11, Microsoft Edge */
::-ms-input-placeholder {
  text-indent: 1em;
  color: rgba(209, 131, 21, 0.9);
}
/* 
input, select, textarea{
  color: #ff0000;
}

textarea:focus, input:focus {
  color: #ff0000;
} */

/* submit button */
.submit, .reset {
  padding: 0.5rem;
  color: rgba(209, 131, 21, 0.9);
  text-align: center;
  margin-bottom: 0.5rem;
  background-color: rgba(174, 109, 18, 0.5);
  border-color: rgba(55, 55, 55, 0.5);
  border-width: 2px;
  opacity: 0.7;
  border-style: none;
}

/* suggestions text */
.tune-body {
  border: 5px solid rgba(174, 109, 18, 0.3);
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: rgba(209, 131, 21, 0.7);
}

/* individual suggestion boxes */
.container {
  margin: auto;
  width: 50%;
  color: rgba(174, 109, 18, 0.3);
}


/* favourites page */
.faves-body {
  text-align: center;
  font-family: Audiowide;
  color: rgba(209, 131, 21, 0.7);
}

/* login page logo */
.logo {
  display: block;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

/* "Please sign in" */
.sign-in-page-text {
  font-size: 30px;
  color: rgba(209, 131, 21, 0.8);
  text-align: center;
}

/* "New to uTunes?" */
.create-account-text {
  font-size: 25px;
  color: rgba(209, 131, 21, 0.8);
  text-align: center;
}

/* "Create an account" */
.create-account-text a {
  font-size: 20px;
  text-align: center;
  color: rgba(209, 131, 21, 0.8);
  text-decoration: none;
  padding-bottom: 20px;
}

/* "Bad credentials" / "You have been logged out" */
.alert {
  box-sizing: border-box;
  padding: 5px;
  max-width: 280px;
  margin: 0 auto;
}

/* ******************** Ana ******************** */

/* Logout PopUp */

/* .logoutbtn {
  font-size: 12px;
  padding: 7px;
  color: #fff;
  background: #068bd8;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.logoutbtn:hover {
  background: #0470af;
} */

#logoutlink {
  color: white;
  position:absolute;
  top:0px;
  right:0px;
}

/* This makes the content of the popup hidden*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

/* This makes the content of the popup present, outside of a box, and changes the opacity of the page, makes it darker */
.overlay:target {
  visibility: visible;
  opacity: 1;
}

/* This is the actual box that contains our logout content */
.popup {
  margin: 70px auto;
  padding: 40px;
  background: #fff;
  border-radius: 5px;
  width: 35%;
  position: absolute;
  transition: all 5s ease-in-out;
}

/* This changes the Font of the title */
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

/* This gets rid of the link aspect of the yes and no buttons, they now look just like words */
.popup .close {
  transition: all 200ms;
  font-size: 20px;
  text-decoration: none;
  color: #333;
}

/* This changes the colour of the yes and no when hovering over them */
.popup .close:hover {
  color: #06aed8;
}

/* No idea */
@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }

  .popup {
    width: 70%;
  }
}